server:
  servlet:
    context-path: /api/v1

spring:
  application:
    name: ProjectManager
  security:
    user:
      name: janne
      password: adminpassword
      roles: ADMIN

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: jdbc:h2:file:./data;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
  cookie:
    name: JWT-TOKEN
    secure: false
    same-site: Lax

cors:
  enabled: true
  allowed-origins:
    - http://localhost:3000
    - http://localhost:5173
    - http://localhost:8081
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true
  max-age: 3600

external:
  contributions:
    url: https://project-fetcher.jannekeipert.de/api